* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


img{
   max-width: 100%;
   max-height: 100%;
}

header{
  background-color: #3A4044;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

header .container1{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

header .logo{
  width: 250px;
  right: 57px;
  display: block;
  margin-left: 6em;
  position: center;

}

header .menu{
  list-style-type: none;
  display: flex;
}

header .menu li{
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

header .menu li a{
  -webkit-transition: color .10s ease;
  -o-transition: color .10s ease;
  transition: color .10s ease;
  display: block;
  text-decoration: none;
  color: #FF9900;
  font-size: 1.2rem;
}

header .menu li a:hover{
  color: #FC521F;
  font-size: 1.3rem;
  background: #3A4044;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

header .menu ul{
  left: 0;
  top: 120%;
  display: none;
  padding: 0;
}

header .menu li:hover > ul{
  display: block;
}

header .menu ul ul{
  position: absolute;
  display: none;
  top: 30%;
  left: 100%;
  background: #3A4044;
}


header .nomber{
  color: #ffff;
  margin-right: 6em;
  font-size: 1.4rem;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
  display: block;
  text-decoration: none;
}

header .nomber:hover{
  color: #FF9900;
}
